<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid" id="app">
    <button class="btn btn-sucess" v-on:click="chercher">Chercher</button>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model="name">
              <button class="btn btn-outline-success my-2 my-sm-0" v-on:click="rechercher" type="button">Search</button>
            </form>
          </nav>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h1 class="page-header">Liste des restaurants à proximité</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="coordinates">Coordonnees <button id="getMyPosition" class="btn btn-primary btn-xs">Obtenir ma position actuelle</button></label>
                        <input type="input" class="form-control" id="coordinates" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="radius">Radius: <span id="currentRadius">50</span>km</label>
                        <input type="range" value="50" min="0" max="15000" step="100" id="radiusRange">
                    </div>
                </div>
            </div>
            <ul id="cities" class="list-group">
                <li class="list-group-item">aucun restau à cette distance</li>
            </ul>
        </div>
        </div>

      </div>
    </div>
    <div class="modal fade" id="formulaire" v-if="restaurant">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modifier les informations :</h4>
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
          </div>
          <div class="modal-body row">
            <form class="col">
              <div class="form-group">
                <label for="id" class="form-control-label">Id</label>
                <input type="text" class="form-control" name="id" id="id" v-model="restaurant._id" disabled>
              </div>
              <div class="form-group">
                <label for="nom" class="form-control-label">Nom</label>
                <input type="text" class="form-control" name="nom" id="nom" placeholder="Votre nom"
                  v-model="restaurant.name">
              </div>
              <div class="form-group">
                <label for="cuisine" class="form-control-label">Cuisine</label>
                <input type="text" class="form-control" name="cuisine" id="cuisine" placeholder="saisir le texte"
                  v-model="restaurant.cuisine">
              </div>
              <div class="form-group">
                <label for="adresse" class="form-control-label">Adresse</label>
                <input type="text" class="form-control" name="adresse" id="adresse" placeholder="saisir le texte"
                  v-model="restaurant.address.street">
              </div>
              <div class="form-group">
                <label for="localite" class="form-control-label">Localité</label>
                <input type="text" class="form-control" name="localite" id="localite" placeholder="saisir le texte"
                  v-model="restaurant.borough">
              </div>
              <button type="submit" class="btn btn-primary pull-right" v-on:click="sauver">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.0/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="./js/restaurant.js"></script>
  <script>
    const points = [
        {
            name: 'WendY S',
            lat: -73.961704,
            lng: 40.662942
        },
        {
            name: 'Dj Reynolds Pub And Restaurant',
            lat: -73.9851356,
            lng: 40.7676919
        },
        {
            name: 'Tov Kosher Kitchen',
            lat: -73.8601152,
            lng: 40.7311739
        },
        {
            name: 'Brunos On The Boulevard',
            lat: -73.8803827,
            lng: 40.7643124
        },
        {
            name: 'Riviera Caterer',
            lat: -73.98242,
            lng: 40.579505
        },
        {
            name: 'Kosher Island',
            lat: -74.1377286,
            lng: 40.6119572
        },
        {
            name: 'Wilken S Fine Food',
            lat: -34.422808,
            lng: -58.572664
        },
        {
            name: 'Regina Caterers',
            lat: -74.005289,
            lng: 40.628886
        },
        {
            name: 'Wild Asia',
            lat: -73.8786113,
            lng: 40.8502883
        },
        {
            name: 'C & C Catering Service',
            lat: -73.9973325,
            lng: 40.6117489
        },
        {
            name: 'May May Kitchen',
            lat: -73.871194,
            lng: 40.6730975
        },
        {
          name: 'C & C Catering Service',
          lat: -73.9973325,
          lng: 40.6117489
      },
      {
        name: 'Carvel Ice Cream',
        lat: -73.9782204,
        lng: 40.6435254
      },
      {
        name: 'The Movable Feast',
        lat: -73.9829239,
        lng: 40.6580753
      },
      {
        name: 'Sal S Deli',
        lat: -73.839297,
        lng: 40.78147
      }
    ];

    var myPosition = null;

        // get needed DOM elements
        const btnGetMyPosition = document.getElementById('getMyPosition');
        const inputRadiusRange = document.getElementById('radiusRange');
        const currentRadius = document.getElementById('currentRadius');
        const inputCoordinates = document.getElementById('coordinates');
        const citiesList = document.getElementById('cities');

        // attach events
        btnGetMyPosition.addEventListener('click', getLocation);
        inputRadiusRange.addEventListener('input', (e) => {
            // update range indicator
            currentRadius.innerHTML = e.target.value;

            // show points
            filterPoints();
        });

        function getLocation() {
          navigator.geolocation.getCurrentPosition((position) => {
              // save the position
              myPosition = position;

              // show points
              filterPoints(myPosition);

              // show coordinates in the input box
              inputCoordinates.value = myPosition.coords.latitude+','+myPosition.coords.longitude;
          }, (error) => {
              // check if the user denied geolocation, or if there was any other problem
              if (error.code == error.PERMISSION_DENIED) {
                  alert('Geolocation has been disabled on this page, please review your browser\'s parameters');
              } else {
                  alert('Unable to find your position, try again later.');
              }
          });
      }

      function filterPoints() {
        // don't do anything else until we have a position
        if (myPosition == null) {
            return false;
        }

        // Reset cities list
        citiesList.innerHTML = '';

        // set a new empty fragment
        var fragment = document.createDocumentFragment();

        // loop through each points
        points.map((point) => {
            // if the point is in the radius distance, show it in the list
            if (calculateDistance(myPosition.coords.latitude, myPosition.coords.longitude, point.lat, point.lng) <= inputRadiusRange.value) {
                // create a new <li> and add it to the fragment
                var li = document.createElement("li");
                li.textContent = point.name;
                li.className = 'list-group-item';
                fragment.appendChild(li);
            }
        });

        // add the fragment to the cities list
        citiesList.appendChild(fragment);
    }

    function calculateDistance(lat1, long1, lat2, long2) {
      var p = 0.017453292519943295;    // Math.PI / 180
      var c = Math.cos;
      var a = 0.5 - c((lat2 - lat1) * p)/2 +
          c(lat1 * p) * c(lat2 * p) *
          (1 - c((long2 - long1) * p))/2;

      return 12742 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km
  }
  </script>
</body>

</html>